.Filter {
  width: 232px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.Title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 15px 0px 10px 20px;
}

.Checkbox {
  padding: 10px 20px;
}

.Checkbox:hover {
  background-color: #f1fcff;
}
